name: '❄️ nix'
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

permissions:
  contents: read
  id-token: write

jobs:
  nix-build:
    uses: jmmaloney4/toolbox/.github/workflows/nix.yml@main
    with:
      runs-on: runs-on=${{ github.run_id }}/runner=2cpu-linux-x64
      repository: ${{ github.repository }}
      ref: ${{ github.ref }}